@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background: #ccee66;
    color: white;
    font-family: "Noto Sans", sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
}


body::before {
    content: '';
    background: #202020;
    position: absolute;
    top: 0;
    left: 0;
    transform: skewX(-30deg);
    width: 50%;
    height: 100%;
    z-index: 0;
}

body::after {
    content: 'Nike';
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    color: rgba(0, 0, 0, 0.3);
    font-size: 220px;
    font-weight: bold;
    z-index: 0;
    pointer-events: none;
}

.logo {
    width: 80px;
    margin: 20px 160px;
    z-index: 2;
    position: relative;
}

.caixa-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 160px;
    position: relative;
    z-index: 2;
    height: 85vh;
}

.caixa-texto {
    max-width: 500px;
    z-index: 2;
    position: relative;
}

h4 {
    font-size: 28px;
    margin: 10px 0;
}

h1 {
    font-size: 70px;
    margin: 10px 0;
    line-height: 1.1;
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin: 30px 0;
}

.botao-carrinho {
    background: #a3be52;
    padding: 12px 24px;
    border-radius: 20px;
    font-size: 16px;
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    transition: 0.3s;
}

.botao-carrinho:hover {
    opacity: 0.8;
}

.caixa-imagem {
    max-width: 600px;
    width: 100%;
    text-align: center;
    z-index: 2;
    position: relative;
}

.imagem-tenis {
    width: 100%;
    max-width: 600px;
    transform: rotate(-25deg);
    filter: drop-shadow(30px 45px 40px #161616);
    transition: 1s;
}

.troca-efeito {
    opacity: 0;
    transform: rotate(-25deg) translateY(-30px);
}

.caixa-botoes {
    z-index: 2;
    position: relative;
    display: flex;
    gap: 20px;
    padding: 10px 30px;
    margin: 0 160px 20px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    backdrop-filter: blur(5px);
    align-self: flex-start;
    height: 70px;
    align-items: center;
}


.botoes {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.botoes:active {
    opacity: 0.6;
}

.verde {
    background: #ccee66;
}

.azul {
    background: #58cced;
}

.rosa {
    background: #ff9eb5;
}

/* Responsivo */
@media (max-width: 1024px) {
    .caixa-principal {
        flex-direction: column;
        align-items: flex-start;
        padding: 40px;
    }

    .logo {
        margin: 20px 40px;
    }

    .caixa-botoes {
        padding: 40px;
    }

    body::after {
        font-size: 100px;
        left: 50%;
        top: 70%;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 45px;
    }

    .imagem-tenis {
        transform: rotate(-15deg);
    }

    .botoes {
        width: 50px;
        height: 50px;
    }

    body::before {
        width: 100%;
        transform: skewX(-15deg);
    }

    body::after {
        font-size: 80px;
        left: 50%;
        top: 80%;
    }
}
